.button {
  box-sizing: border-box;
  border: 2px solid @text-color;
  display: block;
  width: 260px;
  height: 52px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: @text-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: transparent;
  position: relative;
  &--decorative::after {
    content: "";
    .decorative-element();
    bottom: -42px;
  }
  &--decorative-write::after {
    content: "";
    .decorative-element();
    bottom: -51px;
  }
  &--catalog-button {
    width: 192px;
    margin: 0 auto;
  }
  &--text {
    font-size: 17px;
    line-height: 16px;
    padding: 18px;
  }
}
