.category__container {
  .container-large();
  position: relative;
}

.category__title {
  .category-margin();
  padding-top: 73px;
  padding-bottom: 120px;
}

.category__list {
  margin: 0;
}

.category__container--hero-image {
  background-image: url("../../img/content-images/hero-block.jpg");
  background-repeat: no-repeat;
  background-position: 0 -17px;
}

