.category-list {
  font-size: 19px;
  list-style: none;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
}

.category-list__item {
  width: 100%;
  min-height: 103px;
  padding-left: 30px;
  padding-top: 24px;
  box-sizing: border-box;
  &--light {
    background-color: #63d1bb;
  }
  &--dark {
    background-color: #56c3b2;
  }
}
