.category__container {
  position: relative;
  height: 373px;

  @media (min-width: @tablet-width) {
    height: 746px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    min-width: 320px;
  }
}

.category__title {
  .category-margin();
  padding-top: 74px;

  @media (min-width: @tablet-width) {
    padding-top: 156px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 160px;
  }
}

.category__list {
  margin: 0;
}



