.category-list {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: @element-color;
  padding: 0;
  position: absolute;
  bottom: -116px;

  @media (min-width: @tablet-width) {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      height: 34px;
      bottom: -17px;
    }
  }
}

.category-list__item-wrapper--light {
  background-color: @main-color-light;
  width: 100vw;
  margin: 0;
  min-width: 320px;

  &:hover {
    background-color: fade(#59d5bc, 100%);
  }
}


.category-list__item-wrapper--dark {
  background-color: @main-color-dark;
  width: 100vw;
  margin: 0;
  min-width: 320px;

  &:hover {
    background-color: fade(#46c1ae, 100%);
  }
}

.category-list__item {
  min-height: 103px;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 100%;
  }
}

.category-list__link {
  text-decoration: none;
  color: @element-color;
  display: block;
  padding: 24px 33px 31px 30px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 25px 33px 34px 36px;
  }

  &:hover {
    padding: 25px 33px 38px 36px;
  }

  &--light {
    position: relative;
  }

  &--light::after {
    content: "";
    position: absolute;
    mask: url("../../img/stack.svg#interior") no-repeat;
    background-color: fade(#149080, 50%);

    width: 40px;
    height: 62px;
    top: 23px;
    right: 36px;

    @media (min-width: @tablet-width) {
      top: 30px;
      right: 36px;
    }
  }

  &--dark {
    position: relative;
  }

  &--dark::after {
    content: "";
    position: absolute;

    mask: url("../../img/stack.svg#toy") no-repeat;
    background-color: fade(#149080, 50%);

    width: 60px;
    height: 60px;
    top: 21px;
    right: 27px;

    @media (min-width: @tablet-width) {
      top: 31px;
      right: 34px;
    }
  }

  @media (min-width: @desktop-width) {
    &--light {
      width: 100%;
      background-position: 448px 30px;
    }
    &--dark {
      width: 100%;
      background-position: 430px 31px;
    }
  }
}


.category-list__link--light:hover::after {
  background-color: fade(#149080, 70%);
}

.category-list__link--light:active::after {
  background-color: fade(#149080, 30%);
}

.category-list__link--dark:hover::after {
  background-color: fade(#149080, 70%);
}

.category-list__link--dark:active::after {
  background-color: fade(#149080, 30%);
}

