.contacts__container {
  .container-large();
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: 350px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.contacts__list {
  .contacts-margin();

  @media (min-width: @tablet-width) {
    margin: 0 50px 49px 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 3/4;
    grid-row: 4/5;
  }
}

.contacts__title {
  .contacts-margin();
  margin-top: 0;
  margin-bottom: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 22px 50px 49px 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 34.5px;
    grid-column: 3/4;
    grid-row: 2/3;
    width: 327px;
  }
}

@media (min-width: @tablet-width) {
  .contacts__title::after {
    content: "";
    width: 47px;
    height: 81px;
    position: absolute;
    top: -22px;
    right: 2px;
    background-image: url("../../img/stack.svg#flag-icon");
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      top: -17px;
      left: -112px;
    }
  }
}

.contacts__write-us {
  margin: 0 auto;
  margin-bottom: 39px;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-bottom: 57px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 2/3;
    grid-row: 4/5;
    padding-top: 14px;
  }
}

.contacts__wrapper {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: 174px 350px 527px;
    grid-template-rows: 79px min-content 84.5px min-content;
    margin-bottom: 105px;
  }
}

.contacts__image {
  margin: 0 auto;
  display: block;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
  }
}

.contacts__map {
  margin-bottom: 42px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
    grid-row: 1/7;
    margin-bottom: 0;
  }
}

.contacts__iframe {
  border: none;
  display: block;
  margin-bottom: 42px;
  width: 100vw;
  min-width: 320px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
    height: 457px;
    margin: 0;
  }
}

.contacts__map-pin {
  position: absolute;
  background-image: url("../../img/stack.svg#map-pin");
  background-repeat: no-repeat;
  width: 67px;
  height: 100px;
  top: 145px;
  left: 138px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    top: 139px;
    left: 363px;
  }

  @media (min-width: @desktop-width) {
    top: 146px;
    left: 239px;
  }
}
