.contacts-list {
  padding: 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts-list__item {
  display: flex;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-list__item:last-child {
  margin-bottom: 62px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contacts-list__description {
  margin: 0;
  font-size: 14px;

  @media (min-width: @tablet-width) and  (max-width: @desktop-width) {
    width: 256px;
  }

  &--link {
    color: @text-color;
    text-decoration-color: #62d1ba;
    text-underline-offset: 6px;
    margin-left: 33px;

    @media (min-width: @tablet-width) {
      margin-left: 24px;
      width: 250px;
      text-underline-offset: 8px;
    }

    @media (min-width: @desktop-width) {
      text-underline-offset: 12px;
      width: min-content;
    }
  }

  &--address {
    margin-left: 34px;

    @media (min-width: @tablet-width) {
      margin-left: 28px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 27px;
    }
  }

  &--link:hover {
    color: #46c1ae;
    text-decoration-color: #46c1ae;
  }

  &--link:active {
    color: #46c1ae;
    text-decoration-color: fade(#46c1ae, 10%);
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.contacts-list__item-title {
  font-size: 14px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.contacts-list__map-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  z-index: -3;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 527px;
  }
}
