.contacts__container {
  .container-large();

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: 62px 112px 327px 23px 527px;
    grid-template-rows: 79px min-content 34.5px min-content 84.5px min-content;
    margin-bottom: 105px;
  }
}

.contacts__list {
  .contacts-margin();

  @media (min-width: @tablet-width) {
    margin: 0 50px 49px 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 3/4;
    grid-row: 4/5;
  }
}

.contacts__title {
  .contacts-margin();
  margin-top: 0;
  margin-bottom: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 22px 50px 49px 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

@media (min-width: @tablet-width) {
  .contacts__title::after {
    content: "";
    width: 47px;
    height: 81px;
    position: absolute;
    top: -22px;
    right: 0;
    background-image: url("../../img/icon/flag.svg");
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      top: -17px;
      left: -112px;
    }
  }
}

.contacts__write-us {
  margin: 0 auto;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 3/4;
    grid-row: 6/7;
  }
}







