.contacts__container {
  .container-large();
}

.contacts__list {
  .contacts-margin();
}

.contacts__title {
  .contacts-margin();
  margin-top: 0;
  margin-bottom: 27px;
}

.contacts__description {

  &--link {
    color: @text-color;
    text-decoration-color: #62d1ba;
    text-underline-offset: 6px;
  }
}

.contacts__write-us {
  .contacts-margin();
  margin-bottom: 39px;
}

.contacts__card {
  margin-bottom: 42px;
  display: block;
}
