.filter__container {
  .container-small();

  @media (min-width: @tablet-width) {
    width: 100vw;
  }

  @media (min-width: @desktop-width) {
    width: 100vw;
  }
}

.filter__description {
  font-size: 13px;
  line-height: 24px;
  color: @text-color;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 80.15px;
  }

  @media (min-width: @desktop-width) {
    width: 702px;
    margin-bottom: 81.5px;
  }
}

.filter__name-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .filter__item {
    display: flex;
    align-items: baseline;
  }
}

.filter__group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.filter__wrapper {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: flex;
    gap: 79px;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
    align-items: baseline;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 168px 49px 112px;
    gap: 25px;
  }
}

.filter__checkbox-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    column-gap: 68px;
    padding: 50px;
    box-sizing: border-box;
    width: @tablet-width;
    margin: 0 auto;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 50px 168px 50px 112px;
  }
}

.filter__contacts-wrapper {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 50px 225px 50px 112px;
  }
}

.filter__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}

.filter__extra-wrapper {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 88px 79px 63px 109px 329px;
    grid-template-rows: min-content 52px min-content;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 50px 225px 50px 112px;
    grid-template-columns: 88px 25px 230px 140px 330px;
    grid-template-rows: min-content 49px min-content;
  }
}

.filter__contacts-item {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__title {
  margin-bottom: 30px;
}

.filter__input {
  margin-bottom: 24px;

  &--last {
    margin: 0;
  }
}

.filter__input-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.filter__input-wrapper {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 50px 225px 50px 112px;
  }
}

.filter__text {
  width: 260px;
  height: 142px;
  border: 2px solid @text-color;
  box-sizing: border-box;
  resize: none;
  padding: 17px;
  margin-bottom: 17px;
  display: block;
  font-size: 17px;
  font-family: @main-font;

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:not(:placeholder-shown) {
    border: 2px solid #62d1ba;
  }

  &::placeholder {
    font-family: @main-font;
    font-size: 17px;
    line-height: 18px;
    color: @main-color;
    opacity: 0.3;

    @media (min-width: @tablet-width) {
      font-size: 19px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
    width: 501px;
    grid-row: 1/2;
    grid-column: 3/5;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    grid-row: 1/2;
    grid-column: 3/6;
  }
}

.filter__submit {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    grid-row: 3/4;
    grid-column: 1/4;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3/4;
    grid-column: 3/4;
  }
}

.filter__explanation {
  font-size: 14px;
  line-height: 16px;
  color: @text-color;
  margin-bottom: 30px;
  display: block;

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-row: 3/4;
    grid-column: 5/6;
    font-size: 17px;
    line-height: 30px;
    align-self: end;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3/4;
    grid-column: 5/6;
  }
}

.filter__extra-label {
  margin-bottom: 22.5px;
  display: inline-block;

  @media (min-width: @tablet-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 19px;
  }
}

.filter__contacts-input {
  margin-bottom: 28px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.filter__contacts-group {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
  }
}

.filter__label {
  @media (min-width: @tablet-width) {
    margin-right: 24px;
  }
}

.filter__email-wrapper {
  position: relative;

  &:hover .filter__mail-icon {
    fill: fade(#62d1ba, 100%);
    opacity: 100%;
  }
}

.filter__contacts-input:not(:placeholder-shown) + .filter__mail-icon,
.filter__contacts-input:not(:placeholder-shown) + .filter__phone-icon {
  fill: fade(#62d1ba, 100%);
  opacity: 100%;
}

.filter__mail-icon {
  position: absolute;
  right: 3px;
  top: 16px;
  opacity: 0.2;
  display: block;

  @media (min-width: @tablet-width) {
    right: 22px;
  }

  @media (min-width: @desktop-width) {
    right: 4px;
  }
}

.filter__phone-wrapper {
  position: relative;

  &:hover .filter__phone-icon {
    fill: fade(#62d1ba, 100%);
    opacity: 100%;
  }
}

.filter__phone-icon {
  position: absolute;
  right: 3px;
  top: 16px;
  opacity: 0.2;
  display: block;

  @media (min-width: @tablet-width) {
    right: 22px;
  }

  @media (min-width: @desktop-width) {
    right: 4px;
  }
}

.filter__contacts-item--tel:hover::after {
  background-color: fade(#62d1ba, 100%);
}

.filter__contacts-item--email:hover::after {
  background-color: fade(#62d1ba, 100%);
}

.filter__contacts-item .filter__contacts-item--tel::after {
  background-color: fade(#62d1ba, 100%);
}
