.filter-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @main-color-light;
  padding: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 88px;
    display: block;
  }
  &--decor-line::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
    top: 8px;
    left: 60px;

    @media (min-width: @tablet-width) {
      position: static;
    }
  }
}
