.input {
  width: 260px;
  border: none;
  box-shadow: inset 0 -2px 0 @main-color;
  padding: 17.5px 0;
  font-family: @main-font;
  font-size: 19px;
  line-height: 18px;
  color: @text-color;
  &::placeholder {
    font-family: @main-font;
    font-size: 17px;
    line-height: 18px;
    color: @main-color;
    opacity: 0.3;
  }
}
