.main-header__container {
  .container-large();
  position: relative;
}

.main-header__logo-image {
  padding: 22px 118px 22px 116px;
  display: block;
  box-shadow: 0 1px 0 @border-color, inset 0 1px 0 @border-color;
}


