.main-container {
  @media (min-width: @tablet-width) {
    margin-top: -64px;
  }
}

.main-container__category {
  margin-bottom: 31px;
  position: relative;
  z-index: -1;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 51.5px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin-bottom: 71px;
  }
}
