.product-text {
  padding: 27.5px 27px 26.5px 28px;
  border: 1px solid #ececec;
}

.product-text__link {
  text-decoration: none;
}

.product-text__title {
  margin: 0;
  margin-bottom: 6px;
}

.product-text__price {
  line-height: 24px;
}

.product-text__description {
  .catalog-description();
}

.product-text__wrapper {
  display: flex;
  justify-content: space-between;
}
