.product-text {
  padding: 27.5px 27px 26.5px 28px;
  border: 1px solid @border-color;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablet-width) {
    width: 335px;
    padding: 27px 39px 24.5px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    min-height: 197px;
    width: 316px;
    padding: 26px 39px 24.5px 27px;
  }

  &--toy-basket {
    padding: 25px 27px 26.5px 28px;

    @media (min-width: @tablet-width) {
      padding: 25px 27px 24.5px 32px;
    }

    @media (min-width: @desktop-width) {
      padding: 26px 39px 24.5px 27px;
    }
  }
}

.product-text__link {
  text-decoration: none;
}

.product-text__button {
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  display: block;

  mask: url("../../img/stack.svg#cart") no-repeat;

  mask-size: 21px 18px;

  background-color: fade(#000000, 20%);

  &:hover {
    background-color: fade(#63d1bb, 100%);
  }

  &:active {
    background-color: fade(#63d1bb, 30%);
  }

  @media (min-width: @tablet-width) {
    margin: 0 -8px 6px 0;
  }

  &--cart-toys {
    @media (min-width: @tablet-width) and (max-width: 1149px) {
      margin: 0 4px 6px 0;
    }
  }
}

.product-text__icon {
  display: block;
  cursor: pointer;
}

.product-text__title {
  margin: 0;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    margin-bottom: 6.5px;
  }
}

.product-text__price {
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.product-text__description {
  .catalog-description();

  @media (min-width: @tablet-width) {
    font-size: 15px;
    margin: 0;
  }
}

.product-text__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 204px;
    height: 1px;
    background-color: #ececec;
    top: -22.5px;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 268px;
      top: -23.5px;
    }

    @media (min-width: @desktop-width) {
      width: 256px;
      top: -23px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}
