.radio__control {
  display: block;
}

.radio__mark {
  padding: 18px 34px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  display: block;
}

.radio__radio-button:checked + .radio__mark {
  border: 2px solid @main-color-light;
}

