.radio-form__control {
  position: relative;
  display: flex;
  align-items: center;
}

.radio-form__item:not(:last-child) {
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.radio-form__mark {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid @main-color;

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.radio-form__input:checked + .radio-form__mark::before {
  content: "";
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #62d1ba;
  position: absolute;

  @media (min-width: @tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.radio-form__label {
  margin-left: 61px;
  padding: 12px 0;

  @media (min-width: @tablet-width) {
    margin-left: 78px;
    padding: 17px 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
