.reviews__container {
  width: 260px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 78px 50px 47px 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 300px 193px 175px;
    grid-template-rows: min-content 36px min-content;
    margin-bottom: 155px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    box-sizing: border-box;
    grid-template-columns: 248px 453px 175px;
    grid-template-rows: min-content 35px min-content;
    padding: 78px 0 96px 174px;
    margin-bottom: 160px;
  }

  &::after {
    @media (min-width: @desktop-width) {
      content: "";
      .decorative-element();
      bottom: -90px;
    }
  }
}

.reviews__wrapper {
  position: relative;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100vw;
    background-image: url("../../img/main-images/review-image.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/main-images/review-image2x.png");
      background-size: 350px auto;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.reviews__wrapper--decorative-write::after {
  content: "";
  .decorative-element();
  bottom: -51px;

  @media (min-width: @tablet-width) {
    bottom: -85px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    position: static;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column: 1/4;
    grid-row: 3/4;
  }
}

.reviews__quote {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

.reviews__text {
  color: @text-color;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 61px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
  }
}

.reviews__author {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin: 0;
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
    font-size: 17px;
    margin: 0;
  }
}

.reviews__telegram {
  font-size: 17px;
  line-height: 24px;
  color: @text-color;

  @media (min-width: @tablet-width) {
    line-height: 30px;
    margin: 0;
  }
}

.reviews__item {
  display: none;
  &--current {
    display: block;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.reviews__buttons {
  display: flex;
  width: 260px;
  margin-bottom: 38px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column: 3/4;
    grid-row: 3/4;
    align-self: end;
    justify-self: center;
    margin-bottom: 14px;
    width: 137px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
  }
}

.reviews__write {
  margin-bottom: 89px;

  @media (min-width: @tablet-width) {
    width: 175px;
    margin: 0;
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
