.site-list__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  list-style: none;
  padding: 28.5px 33px 26.6px 76px;
  box-shadow: 0px 1px 0px #ECECEC, inset 0px 1px 0px #ECECEC;
}

.site-list__item-link {
  color: #000000;
  text-decoration: none;
}
