.site-table {
  color: @text-color;
  border-spacing: 0;
}

.site-table__text {
  width: 162px;
  border-bottom: 1px solid #ececec;
  padding: 4.5px 0 4.5px 0;
  box-sizing: border-box;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 11px;
  &--title {
    width: 98px;
  }
}

