.site-table {
  color: #444444;
  border-spacing: 0;
}

.site-table__text {
  width: 162px;
  border-bottom: 1px solid #ececec;
  padding: 4.5px 0 4.5px 0;
  box-sizing: border-box;
  &--title {
    width: 98px;
    box-sizing: border-box;
  }
}

