.slider-button {
  box-sizing: border-box;
  border: 1px solid @border-color;
  background-color: transparent;
  z-index: 2;
  padding: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--back {
    border-right: 1px;
    background-image: url("../../img/stack.svg#button-back");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 26px;
    width: 130px;
    height: 52px;
  }

  &--next {
    background-image: url("../../img/stack.svg#button-next");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 26px;
    width: 130px;
    height: 52px;
  }

  @media (min-width: @tablet-width) {
    border: none;
    width: 50px;
    height: 26px;
  }
}
