.slider-button {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  border: 1px solid @border-color;
  background-color: transparent;
  z-index: 2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--back {
    border-right: 1px;
    background: url("../../img/stack.svg#button-back") no-repeat;
    background-position: center;
    background-size: 50px 26px;
  }

  &--next {
    background: url("../../img/stack.svg#button-next") no-repeat;
    background-position: center;
    background-size: 50px 26px;
  }

  @media (min-width: @tablet-width) {
    border: none;
  }
}
