.social-list {
  display: flex;
  width: 142px;
  justify-content: space-between;
}

.social-list__item {
  width: 28px;
  height: 22px;
  list-style: none;
}

.social-list__link {
  background-color: @main-color;

  &:hover {
    background-color: fade(#46c1ae, 100%);
  }

  &:active {
    background-color: fade(#46c1ae, 30%);
  }

  &--vkontacte {
    .footer-icon();
    mask: url("../../img/stack.svg#icon-vk") no-repeat;
  }
  &--youtube {
    .footer-icon();
    mask: url("../../img/stack.svg#icon-youtube") no-repeat;
  }
  &--telegram {
    .footer-icon();
    mask: url("../../img/stack.svg#icon-telegram") no-repeat;
  }
}
