.title {
  font-size: 25px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }

  &--main {
    font-size: 27px;
    text-align: center;
    width: 260px;
    margin: 0 auto;

    @media (max-width: @tablet-width) {
      width: 260px;
    }

    @media (min-width: @tablet-width) {
      font-size: 43px;
      line-height: 50px;
      width: 668px;
    }
  }

  &--main-catalog,
  &--main-form {
    font-size: 27px;

    @media (min-width: @tablet-width) {
      font-size: 43px;
      line-height: 50px;
    }

    @media (min-width: @desktop-width) {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &--reviews {
    @media (min-width: @tablet-width) {
      line-height: 57px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}
