.week-product__container {
  .container-small();
  position: relative;
  margin-top: 164px;

  @media (min-width: @tablet-width) {
    width: 668px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 292px 42px 334px;
    grid-template-rows: min-content 37.5px min-content 48px min-content 57px min-content 33px min-content;
    margin-top: 0;
    margin-bottom: 125px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 32px 100px 43px 292px 42px 525px;
    grid-template-rows: 61px min-content 35px min-content 60px min-content 109px min-content 33px min-content;
    margin-bottom: 164px;
    margin-top: 71px;
  }
}

.week-product__container--decorative::after {
  @media (min-width: @desktop-width) {
    content: "";
    .decorative-element();
    bottom: -96px;
  }
}

.week-product__explanation {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @main-color-light;
  margin-bottom: 17.5px;
  display: block;

  @media (min-width: @tablet-width) {
    width: 100px;
    margin: 0;
    grid-column: 3/4;
    justify-self: end;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

.week-product__text {
  color: @text-color;
  margin: 0;
  margin-bottom: 19px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4/5;
    grid-row: 4/5;
  }
}

.week-product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @text-color;
  display: block;
  text-align: center;
  margin-bottom: 24.5px;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 7/8;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4/5;
    grid-row: 8/9;
  }
}

.week-product__title {
  margin: 0;
  margin-bottom: 3.5px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 450px;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4/5;
    width: 545px;
    grid-row: 2/3;
  }
}

.week-product__table {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4/5;
    grid-row: 6/7;
  }
}

.week-product__image {
  margin-bottom: 25.5px;
  display: block;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 13px;
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.week-product__picture {
  @media (min-width: @tablet-width) {
    grid-column: 3/4;
    grid-row: 3/10;
  }

  @media (min-width: @desktop-width) {
    grid-column: 6/7;
    grid-row: 1/11;
    z-index: -1;
  }
}

.week-product__order {
  margin-bottom: 73px;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 9/10;
    width: 292px;
    height: 52px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4/5;
    grid-row: 10/11;
    margin: 0;
  }
}

.week-product__wrapper {
  width: 100%;
  position: relative;

  &--decorative::after {
    content: "";
    .decorative-element();
    bottom: -42px;

    @media (min-width: @tablet-width) {
      bottom: -90px;
    }

    @media (min-width: @desktop-width) {
      position: static;
    }
  }
}

